body {
  margin: 0;
  padding: 0;
  background: #333;
}
#topnav {
  position: relative;
  padding: 5px 10px 0 5px;
  height: 55px;
  background: #fff;
  z-index: 2;
}
#title,
#title:focus {
  outline: 0;
  font-size: 28px;
  height: auto;
  margin: 5px 0 0 0;
  box-shadow: none;
  border: none;
  background: #fff;
  padding: 0 5px;
  width: 100%;
}

#title::selection {
  background: #d9d9d9;
}
  
#editor {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 55px;
  height: 100%;
  width: 100%;
}
#editor textarea {
  outline: none;
  background: #fff;
  border: none;
  padding: 0px;
  width: 100%;
  padding: 2px;
}
#editor .wysihtml5-toolbar {
  background: #333;
  padding: 5px;
  margin-bottom: 0px;
  zoom: 1.1;
  overflow: visible;
}

#editor .wysihtml5-toolbar li {
  margin-bottom: 0;
}

#editor .dropdown-menu {
  border-radius: 0;
}

#editor .wysihtml5-toolbar .btn.btn-default {
  border-radius: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  color: #fff;
}

#editor .wysihtml5-toolbar .btn.btn-default:hover {
  background: rgba(0,0,0,0.1);
}
#sidebar {
  padding: 5px 5px 5px 0;
  background: #333;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-width: 300px;
  color: #aaa;
  overflow: auto;
}
#sidebar h5 {
  position: relative;
  margin: 0 0 10px 0;
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  color: #888;
  font-weight: bold;
  -webkit-transform: translateZ(0px);
}
#sidebar h5 .fa-fw {
  margin-right: 5px;
}
#sidebar h5:hover {
  background: #444;
}

#sidebar h5 .expander {
  transition: all 0.05s linear;
  transform:rotate(-90deg);
  position: absolute;
  top: 10px;
  right: 0px;
}

#sidebar h5 .expander.active {
  right: 1px;
  transform:rotate(0deg);
}
#sidebar .container {
  display: none;
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}
#sidebar .container p {
  padding-left: 10px;
  margin-bottom: 20px;
  opacity: 0.5;
}

#container {
  overflow: hidden;
}

.CodeMirror {
  height: 0px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-right: 5px solid transparent;
}
::-webkit-scrollbar-track {
  background-color: #ddd;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

::selection { 
  background: transparent;
}

.editor-toolbar,
.editor-toolbar a,
#sidebar {
  cursor: default !important;
  user-select: none;
}